In [52]:
print ("Thank you Hamoye!")

Thank you Hamoye!

print (single _underscore_ or single *asterisks*)

user bold **content**

In [6]:
import time
print (time.ctime())

Fri Jul 10 08:40:34 2020

In [54]:
import time
print("precise time concept: ", time.ctime())

precise time concept:  Thu Jul  9 16:58:52 2020

In [55]:
import math
print ("sqrt{3x + 2} + x^5")

sqrt{3x + 2} + x^5

In [56]:
print ("i love python " * 3)

i love python i love python i love python

In [57]:
import numpy as np
arr= ([[4,5,4,5],[5,5,7,1],[71,54,2,100]])
mynumpy = np.array(arr)
print (mynumpy * 2)
print(mynumpy.dtype)
print(mynumpy.ndim)
print(mynumpy.shape)
print(type(mynumpy)     )
#np.random.random((3,2))=array([[1,5],[5,7],[71,100]])
#print(numpytest)

[[  8  10   8  10]
 [ 10  10  14   2]
 [142 108   4 200]]
int32
2
(3, 4)
<class 'numpy.ndarray'>

In [58]:
import numpy as np
test1 = np.array([[2,5],[5,7],[12,8]])
test2 = np.array([[5,1],[1,1],[2,3]])
sumtest = (test1+test2)
diftest = (test2-test1)
lords=(sumtest+diftest)
print(test1, "\n\n", test2,"\n\n",sumtest,"\n\n",diftest,"\n\n",lords)
print(limarray.shape)

[[ 2  5]
 [ 5  7]
 [12  8]]

 [[5 1]
 [1 1]
 [2 3]]

 [[ 7  6]
 [ 6  8]
 [14 11]]

 [[  3  -4]
 [ -4  -6]
 [-10  -5]]

 [[10  2]
 [ 2  2]
 [ 4  6]]
(3, 4)

In [59]:
import numpy as np
lima= ([[4,5,1,4],[5,8,7,1],[1,5,2,10]])
limarray = np.array(lima)
print(limarray)
print("\n", limarray[:2, :3])
print("\n",limarray<5)

[[ 4  5  1  4]
 [ 5  8  7  1]
 [ 1  5  2 10]]

 [[4 5 1]
 [5 8 7]]

 [[ True False  True  True]
 [False False False  True]
 [ True False  True False]]

In [10]:
import pandas as pd
userinfo = {
    'school': ['poly sec school', 'saint peters college', 'holy rosary college', 'dickson memorial college'],
    'name':['rabi', 'kerim', 'mary', 'justin'], 
    'age': [16, 14, 18, 19],
    'height': [88.2, 100.6, 95.0,112],
    'examtype': ['waec', 'jamb', 'gce', 'neco']   
}

userinfo_dataframe=pd.DataFrame(userinfo, index=[1,2,3,4,])
print('\n', userinfo_dataframe)
userinfo_dataframe = userinfo_dataframe.set_index('school')
userinfo_dataframe = userinfo_dataframe.drop('holy rosary college', axis=0)
print('\n', userinfo_dataframe)
userinfo_dataframe.to_csv(index)

                      school    name  age  height examtype
1           poly sec school    rabi   16    88.2     waec
2      saint peters college   kerim   14   100.6     jamb
3       holy rosary college    mary   18    95.0      gce
4  dickson memorial college  justin   19   112.0     neco

                             name  age  height examtype
school
poly sec school             rabi   16    88.2     waec
saint peters college       kerim   14   100.6     jamb
dickson memorial college  justin   19   112.0     neco

In [65]:
print(userinfo_dataframe['name'])
print("\n", userinfo_dataframe.loc[1])
print("\n", userinfo_dataframe.iloc[0])
print("\n", userinfo_dataframe['school'])
print(userinfo_dataframe.at[4, 'name'])
print(userinfo_dataframe.iat[0, 1])

1      rabi
2     kerim
3      mary
4    justin
Name: name, dtype: object

 school      poly sec school
name                   rabi
age                      16
height               88.2cm
examtype               waec
Name: 1, dtype: object

 school      poly sec school
name                   rabi
age                      16
height               88.2cm
examtype               waec
Name: 1, dtype: object

 1             poly sec school
2        saint peters college
3         holy rosary college
4    dickson memorial college
Name: school, dtype: object
justin
rabi

In [2]:
descdf = (userinfo_dataframe.describe())
print(descdf)

             age      height
count   4.000000    4.000000
mean   16.750000   98.950000
std     2.217356   10.069591
min    14.000000   88.200000
25%    15.500000   93.300000
50%    17.000000   97.800000
75%    18.250000  103.450000
max    19.000000  112.000000

In [22]:
import pandas as pd
import numpy as np
staffs = {
    'lecturers': ['Mr John', 'Mrs Rose', 'Mr Mike', 'Ms Robinson'],
    'courses': ['data science', np.nan, 'maths', 'english'],
    'salary': [140000, np.nan, 120000, 112000]
}
staffs_dataframe = pd.DataFrame(staffs, index=['level1','level2', 'level3', 'level4'])
print(staffs_dataframe)

          lecturers       courses    salary
level1      Mr John  data science  140000.0
level2     Mrs Rose           NaN       NaN
level3      Mr Mike         maths  120000.0
level4  Ms Robinson       english  112000.0

In [24]:
staffs_dataframe.to_csv('staffdt.csv', index=False)

In [7]:
import pandas as pd
FuelData = pd.read_csv('fuel_ferc1.csv')
print (FuelData)

                     record_id  utility_id_ferc1  report_year  \
0        f1_fuel_1994_12_1_0_7                 1         1994
1       f1_fuel_1994_12_1_0_10                 1         1994
2        f1_fuel_1994_12_2_0_1                 2         1994
3        f1_fuel_1994_12_2_0_7                 2         1994
4       f1_fuel_1994_12_2_0_10                 2         1994
...                        ...               ...          ...
29518  f1_fuel_2018_12_12_0_13                12         2018
29519   f1_fuel_2018_12_12_1_1                12         2018
29520  f1_fuel_2018_12_12_1_10                12         2018
29521  f1_fuel_2018_12_12_1_13                12         2018
29522  f1_fuel_2018_12_12_1_14                12         2018

           plant_name_ferc1 fuel_type_code_pudl fuel_unit  fuel_qty_burned  \
0                  rockport                coal       ton        5377489.0
1      rockport total plant                coal       ton       10486945.0
2                    gorgas                coal       ton        2978683.0
3                     barry                coal       ton        3739484.0
4                 chickasaw                 gas       mcf          40533.0
...                     ...                 ...       ...              ...
29518    neil simpson ct #1                 gas       mcf          18799.0
29519  cheyenne prairie 58%                 gas       mcf         806730.0
29520     lange ct facility                 gas       mcf         104554.0
29521       wygen 3 bhp 52%                coal       ton         315945.0
29522       wygen 3 bhp 52%                 gas       mcf          17853.0

       fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
0                   16.590                      18.59
1                   16.592                      18.58
2                   24.130                      39.72
3                   23.950                      47.21
4                    1.000                       2.77
...                    ...                        ...
29518                1.059                       4.78
29519                1.050                       3.65
29520                1.060                       4.77
29521               16.108                       3.06
29522                1.059                       0.00

       fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
0                             18.53                1.121
1                             18.53                1.120
2                             38.12                1.650
3                             45.99                1.970
4                              2.77                2.570
...                             ...                  ...
29518                          4.78                9.030
29519                          3.65                6.950
29520                          4.77                8.990
29521                         14.76                1.110
29522                          0.00               11.680

[29523 rows x 11 columns]

In [11]:
import os
print(os.getcwd())
print(os.listdir(os.getcwd()))

C:\Users\Opaluwa\Documents\Hamoye\notebooks
['.ipynb_checkpoints', 'fuel_ferc1.csv', 'HamoyeJupyter.ipynb', 'P12-50-Startups.csv', 'P12-SalaryData.csv', 'staffdt.csv', 'Untitled.ipynb', 'Working with numbers and logic.ipynb', 'works on string.py']

In [12]:
print(FuelData.describe(include='all'))

                      record_id  utility_id_ferc1   report_year  \
count                     29523      29523.000000  29523.000000
unique                    29523               NaN           NaN
top     f1_fuel_2010_12_281_2_6               NaN           NaN
freq                          1               NaN           NaN
mean                        NaN        118.601836   2005.806050
std                         NaN         74.178353      7.025483
min                         NaN          1.000000   1994.000000
25%                         NaN         55.000000   2000.000000
50%                         NaN        122.000000   2006.000000
75%                         NaN        176.000000   2012.000000
max                         NaN        514.000000   2018.000000

       plant_name_ferc1 fuel_type_code_pudl fuel_unit  fuel_qty_burned  \
count             29523               29523     29343     2.952300e+04
unique             2315                   6         9              NaN
top           big stone                 gas       mcf              NaN
freq                156               11486     11354              NaN
mean                NaN                 NaN       NaN     2.622119e+06
std                 NaN                 NaN       NaN     9.118004e+06
min                 NaN                 NaN       NaN     1.000000e+00
25%                 NaN                 NaN       NaN     1.381700e+04
50%                 NaN                 NaN       NaN     2.533220e+05
75%                 NaN                 NaN       NaN     1.424034e+06
max                 NaN                 NaN       NaN     5.558942e+08

        fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
count          29523.000000               29523.000000
unique                  NaN                        NaN
top                     NaN                        NaN
freq                    NaN                        NaN
mean               8.492111                 208.649031
std               10.600220                2854.490090
min                0.000001                -276.080000
25%                1.024000                   5.207000
50%                5.762694                  26.000000
75%               17.006000                  47.113000
max              341.260000              139358.000000

        fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
count                   2.952300e+04         29523.000000
unique                           NaN                  NaN
top                              NaN                  NaN
freq                             NaN                  NaN
mean                    9.175704e+02            19.304354
std                     6.877593e+04          2091.540939
min                    -8.749370e+02           -41.501000
25%                     3.778500e+00             1.940000
50%                     1.737100e+01             4.127000
75%                     4.213700e+01             7.745000
max                     7.964521e+06        359278.000000

In [14]:
print(FuelData.isnull().sum())

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64